<div id="navigation">
    <div class="col-full">
      <h1 id="logo" class="fl">
        <a href="{{ absolute_url }}">
          <img src="{{ 'assets/images/logo.png' | absolute_url }}" alt="{{ page.title }}">
        </a>
      </h1><!-- /#logo -->

      <div class="header-right fr">
        <div class="menu-main-menu-container">
          <!-- current-menu-item current_page_item -->
          <ul id="menu-main-menu" class="menu">
            <li id="menu-item-616" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-616">
              <a href="{{ absolute_url }}">Home</a>
            </li>
            <li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-19 menu-item-617">
              <a href="{{ 'about' | absolute_url }}" aria-current="page">About</a>
            </li>
            <li id="menu-item-618" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-618">
              <a href="{{ 'films' | absolute_url }}">Films</a>
            </li>
            <li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619">
              <a href="{{ 'teaching' | absolute_url }}">Teaching</a>
            </li>
            <li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620">
              <a href="{{ 'contact' | absolute_url }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>	<!-- /.header-right -->
    </div><!-- /.col-full -->
  </div><!-- #navigation -->
