<script>
  jQuery(document).ready(function($) {
    var idx = lunr(function () {
      this.field('id');
      this.field('title', { boost: 10 });
      this.field('content');
      
      for (var key in window.store) {
        console.log({ key, c: window.store[key].title });
        this.add({
          'id': key,
          'title': window.store[key].title,
          'content': window.store[key].content
        });
      }
    });
    
    var searchInput = $('#search-input');
  
    searchInput.bind('keyup', function(event) {
        var query = searchInput.val();
        var resultsEl = $('#search-results');
        if (query.length === 0) {
          resultsEl.html("");
        }
  
        if (event.keyCode !== 9 && query.length > 3) {
            var matches = idx.search(query + "* " + query + "~1");
            // displayResults(matches);
            console.log({ matches });
            if (matches.length) {
              resultsEl.html("");
              matches.forEach(function(result) {
                  var item = window.store[result.ref];
                  resultsEl.append('<li class=\"search-result\"><a href=\"' + item.url+ '\"><h5>' + item.title + '</h5></a><p>' + item.description + '</p></li>');
              });
          } else {
            resultsEl.html('<li class=\"search-result none\">No results found for <span class=\"input-value\">' + query + '</span>.<br/>Please check spelling and spacing.</li>');
          }

        }
    });
  });
  </script>

<form method="get" id="searchform_bottom" action="{{ '' | absolute_url }}">
    <input id="search-input" type="text" class="field" name="s" value="Enter search term..." onfocus="if (this.value == 'Enter search term...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter search term...';}" />
    <input type="submit" class="submit" name="submit" value="Search" />
    <ul id="search-results">
      <!-- The following <li> can be uncommented for styling purposes, but these reflect the same css classes included in the script. -->
      <!-- <li class="search-result">
          <a href="#"><h5>Sample Search Result Heading</h5></a>
          <p>Here is a simple description area that should be kept relatively short, but just in case, let's make this a little bit longer.</p>
          <div class="in-section">Found in: Digital Content Writers Guide</div>
          <ul class="tags">
              <li><i class="icon-tags"></i></li>
              <li><a href="#" class="tag">sushi</a></li>
              <li><a href="#" class="tag">japanese</a></li>
          </ul>
      </li> -->
    </ul>
</form>

<script>
  window.store = {
  {% for film in site.films %}
    {%- assign roles = film.roles | join: ", " -%}
    {%- assign formats = film.formats | join: ", " -%}
    {%- assign screenings = "" | split: "" -%}
    {%- for screening in film.selected_screenings -%}
      {%- assign screenings = screenings | push: screening.name -%}
    {%- endfor -%}
    {%- assign screenings = screenings | join: ", " -%}
    {%- assign awards = "" | split: "" -%}
    {%- for award in film.awards -%}
      {%- assign awards = awards | push: award.name -%}
    {%- endfor -%}
    {%- assign awards = awards | join: ", " -%}
    {%- assign content = film.synopsis -%}
    {%- assign content = content | append: ", " | append: roles -%}
    {%- assign content = content | append: ", " | append: formats -%}
    {%- assign content = content | append: ", " | append: screenings -%}
    {%- assign content = content | append: ", " | append: awards -%}
    {%- assign content = content | append: ", " | append: film.genre -%}
    {%- assign content = content | append: ", " | append: film.language -%}
    "{{ film.url | slugify }}": {
      "title": "{{ film.title | append: ", " | append: film.alternate_title | xml_escape }}",
      "content": {{ content | strip_html | strip_newlines | jsonify }},
      "url": "{{ film.url | xml_escape | absolute_url }}"
    },
    {% endfor %}
    {%- for page in site.pages -%}
    {% assign content = page.content %}
    {%- if page.url == "/films/older-films/" -%}
      {%- for film in site.older_films -%}
        {%- assign roles = film.roles | join: ", " -%}
        {%- assign formats = film.formats | join: ", " -%}
        {%- assign awards = "" | split: "" -%}
        {%- for award in film.awards -%}
          {%- assign awards = awards | push: award.name -%}
        {%- endfor -%}
        {%- assign awards = awards | join: ", " -%}
        {%- assign content = film.description -%}
        {%- assign content = content | append: ", " | append: roles -%}
        {%- assign content = content | append: ", " | append: formats -%}
        {%- assign content = content | append: ", " | append: screenings -%}
        {%- assign content = content | append: ", " | append: awards -%}
        {%- assign content = content | append: ", " | append: film.genre -%}
      {%- endfor -%}
    {%- endif -%}
    "{{ page.url | slugify }}": {
      "title": "{{ page.title | xml_escape }}",
      "content": {{ content | strip_html | strip_newlines | jsonify }},
      "url": "{{ page.url | xml_escape | absolute_url }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="{{ 'assets/js/lunr.min.js' | absolute_url }}"></script>
<!-- <script src="{{ 'assets/js/search.js' | absolute_url }}"></script> -->
