---
layout: default
---
<div class="row">
    <div class="film-list items">
        <div class="item-container">
            <a class="item" href="{{ 'films/in-my-own-right' | absolute_url }}" title="In My Own Right ">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2020/01/in-my-own-right-03-280x210.png' | absolute_url }}" alt='In My Own Right'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>In My Own Right<br /><span></span></h3>
                        <span class="excerpt">
                            2019, Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>               
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/signwriter' | absolute_url }}" title="Signwriter ">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/Signwriter-by-Paul-Zinder-still-280x210.jpg'  | absolute_url }}"| absolute_url }}" alt='Signwriter'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Signwriter<br /><span></span></h3>
                        <span class="excerpt">
                            2015, Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>                  
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/robot-and-pinocchi' | absolute_url }}" title="Robots and Pinocchios (Robot e Pinocchi)">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/CU-Horse-head-280x210.jpg'  | absolute_url }}"alt='Robots and Pinocchios'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Robots and Pinocchios<br /><span>(Robot e Pinocchi)</span></h3>
                        <span class="excerpt">
                            2011, Documentary</p>
                        </span>
                    </span>
                </span>
            </a>
        </div>                    
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/benedizione-delle-bestie' | absolute_url }}" title="Benediction of the Beasts (Benedizione delle Bestie)">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/Picture-1-280x210.jpg'  | absolute_url }}"alt='Benediction of the Beasts'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Benediction of the Beasts<br /><span>(Benedizione delle Bestie)</span></h3>
                        <span class="excerpt">
                            2009, Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>                  
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/uno-degli-ultimi' | absolute_url }}" title="One of the Last (Uno degli Ultimi)">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/uno_degli_ultimi_2-280x210.jpg'  | absolute_url }}"| absolute_url }}" alt='One of the Last'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>One of the Last<br /><span>(Uno degli Ultimi)</span></h3>
                        <span class="excerpt">
                            2007, Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>           
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/prince-albert-hurts' | absolute_url }}" title="Prince Albert Hurts ">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/Prince-poster-image-for-top-of-page-280x210.jpg'  | absolute_url }}"| absolute_url }}" alt='Prince Albert Hurts'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Prince Albert Hurts<br /><span></span></h3>
                        <span class="excerpt">
                            2001, Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>                        
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/mom-mom-loves-herbert' | absolute_url }}" title="Mom Mom Loves Herbert ">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/Baltimore-bench-280x210.jpg'  | absolute_url }}"| absolute_url }}" alt='Mom Mom Loves Herbert'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Mom Mom Loves Herbert<br /><span></span></h3>
                        <span class="excerpt">
                            1997, Experimental Documentary
                        </span>
                    </span>
                </span>
            </a>
        </div>                  
                    
        <div class="item-container">
            <a class="item" href="{{ 'films/listen' | absolute_url }}" title="Listen ">
                <span class="bg-img">
                    <img src="{{ 'assets/images/2011/06/LISTEN-1-280x210.jpg'  | absolute_url }}"| absolute_url }}" alt='Listen'  width='280' height='210' />
                
                    <span class="post-title">
                        <h3>Listen<br /><span></span></h3>
                        <span class="excerpt">
                            1995, Narrative
                        </span>
                    </span>
                </span>
            </a>
        </div>                    
    </div>

    <div style="clear: both; height: 1px;">&nbsp;</div>
                
    <div class="fr">
        <a style="font-size: 16px; text-decoration: none;" href="{{ 'films/older-films' | absolute_url }}" alt="Link to older films page" title="Older Films">Older Films &raquo;</a>
    </div>
</div><!--/row -->
