
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}

  <body class="page-template-default page {{ page.title | slugify }}">
    {% include header.html %}

    <main class="content-container">
      <noscript>
        <style>
          .center { text-align: center; }
        </style>
        <div class="center">
            <p>Please enable JavaScript for a better browsing experience.</p>
        </div>
      </noscript>
      
      {{ content }}
    </main>
    
    {% include footer.html %}
  </body>
</html>
