---
layout: page
---
<script src="{{ 'assets/js/jquery-3.4.0-validate.min.js' }}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ site.recaptcha_site_key }}"></script>
<script>
jQuery(document).ready(function($) {
    $(".form").validate({
        submitHandler: function(form, e) {
            e.preventDefault();
            $('.submit-error').remove();
            
            var formEl = $(form);
            var formDataSerialized = formEl.serialize();
            var parentEl = formEl.parent();
            var inputEls = formEl.find(':input');
            var submitButtonEl = formEl.find("button[type=submit]");
            var originalButtonText = submitButtonEl.data('submit-text');
            var altText = submitButtonEl.data('alt-text')
            
            submitButtonEl.text(altText);
            inputEls.prop('disabled', true);
            parentEl.addClass("submitting");

            grecaptcha.ready(function() {
                grecaptcha.execute('{{ site.recaptcha_site_key }}', { action: 'submit' }).then(function(token) {
                    formDataSerialized += "&g-recaptcha-response=" + token;

                    $.post("{{ page.form_action }}", formDataSerialized)
                        .done(function(data) {
                            $(form).replaceWith('<div class="container"><p><strong>Your message was sent successfully.</strong></p><p>Thanks for getting in touch!</p></div>');
                        })
                        .fail(function (jqXHR, textStatus) {
                            $(form).prepend('<p class="submit-error error"><strong>Something went wrong! Please try again.</p>');
                        })
                        .always(function () {
                            submitButtonEl.text(originalButtonText);
                            inputEls.prop('disabled', false);
                            parentEl.removeClass("submitting");
                        });
                });
            });

            return false;
        }
    });
});
</script>

<div class="form-container form-container-full"
>
    <form action="#" method="post" class="form" novalidate>
        <noscript class="form-error-noscript">
            Please enable JavaScript in your browser to complete this form.
        </noscript>
      
        <div class="form-fields-container">
        {% for field in page.form_fields %}
            <div class="form-field-container form-field-{{ field.type }}">
                {% capture field_id %}{{ field.type }} - {{ field.name }}{% endcapture %}
                <label class="label {% if field.required %}label-required{% endif %}" for="{{ field_id }}">
                    {{ field.label }}
                </label>
                
                {% case field.type %}
                {% when "textarea" %}
                    <textarea id="{{ field_id }}" class="form-field form-field-medium {% if field.required %}form-field-required{% endif %}" name="{{ field.name }}" {% if field.required %}required{% endif %}></textarea>
                {% else %}
                    <input id="{{ field_id }}" type="{{ field.type }}" class="form-field form-field-medium {% if field.required %}form-field-required{% endif %}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
                {% endcase %}
            </div>
        {% endfor %}
        </div>

        <div class="form-submit-container">            
            <button type="submit" class="button form-submit" aria-live="assertive" data-alt-text="Sending..." data-submit-text="Send">
                {{ page.form_submit_text | default: "Submit" }}
            </button>
        </div>
   </form>
</div>
