---
layout: default
---
<script></script>
<script type="text/javascript" src="{{ 'assets/js/slick.min.js' | absolute_url }}"></script>
<script type='text/javascript'>
    jQuery(document).ready(function($) {
        var carousel = $('.carousel');
        var settings = {
            infinite: true,
            speed: 3000,
            fade: true,
            cssEase: 'linear',
            autoPlay: true,
            autoPlaySpeed: 1500,
        };
        if ($(window).width() > 768) {
            carousel.slick(settings);
        }

        // reslick only if it's not slick()
        $(window).on('resize', function() {
            if ($(window).width() < 768) {
                if (carousel.hasClass('slick-initialized')) {
                    carousel.slick('unslick');
                }
                return;
            }

            if (!carousel.hasClass('slick-initialized')) {
                return carousel.slick(settings);
            }
        });
    });
</script>

<noscript>
    <style type="text/css">
        .carousel { visibility: visible; }
        .carousel li { margin: 25px 0; }
    </style>
</noscript>

<ul class='carousel'>
{% for film in page.featured_films %}
    <li>
        <a href="{{ film.url | absolute_url }}" alt='Link to {{ film.title }}' title='{{ film.title }}'>
            <img width="890" height="321" src="{{ film.image | absolute_url }}" alt='Featured Film' title='{{ film.title }}'/>
        </a>
    </li>
{% endfor %}
</ul>



