---
layout: default
---
<script></script>
<script type="text/javascript" src="{{ 'assets/js/slick.min.js' | absolute_url }}"></script>
<script type='text/javascript'>
    jQuery(document).ready(function($) {
        $('.carousel').slick({
            infinite: true,
            speed: 3000,
            fade: true,
            cssEase: 'linear',
            autoPlay: true,
            autoPlaySpeed: 1500,
        });			
    });
</script>

<ul class='carousel'>
{% for film in page.featured_films %}
    <li>
        <a href="{{ film.url | absolute_url }}" alt='Link to {{ film.title }}' title='{{ film.title }}'>
            <img width="890" height="321" src="{{ film.image | absolute_url }}" alt='Featured Film' title='{{ film.title }}'/>
        </a>
    </li>
{% endfor %}
</ul>

